@model GastroLab.Application.ViewModels.OptionSetVM

@{
    ViewData["Title"] = "EditOptionSet";
}

<h1>EditOptionSet</h1>

<h4>OptionSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOptionSet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRequired" class="control-label"></label>
                <input asp-for="IsRequired" class="form-control" />
                <span asp-validation-for="IsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMultiple" class="control-label"></label>
                <input asp-for="IsMultiple" class="form-control" />
                <span asp-validation-for="IsMultiple" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h4>Opcje</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var option in Model.options)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => option.Name)</td>
                        <td>
                            <div id="display-price-@option.Id">@option.Price</div>
                            <input type="number" id="edit-price-@option.Id" value="@option.Price" class="form-control" style="display: none;" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="editOption('@option.Id')" class="btn btn-secondary">Edit</a>
                            <form asp-action="SaveOptionSetOption" asp-route-optionId="@option.Id" asp-route-optionSetId="@Model.Id" method="post" style="display: none;" id="save-form-@option.Id">
                                <input type="hidden" name="price" id="input-price-@option.Id">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                            <form asp-action="RemoveOption" asp-route-id="@option.Id" asp-route-optionSetId="@Model.Id" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="ManageOptionSets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function editOption(optionId) {
            // Toggle visibility of elements
            $('#display-price-' + optionId).hide();
            $('#edit-price-' + optionId).show();
            $('#save-form-' + optionId).show();

            // Update the form value from input
            $('#edit-price-' + optionId).change(function () {
                $('#input-price-' + optionId).val($(this).val());
            });
        }
    </script>
}
